*{
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 16px;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.nav{
	width: 100%;
	height: 79px;
	background-color:#ffffff;
}
.nav-a{
	width: 100%;
	height: 79px;
	background-color:#ffffff;
	position: fixed;
}
.nav-box{
	width: 1170px;
	height: 79px;
	line-height: 79px;
	margin: 0 auto;
	
}
.nav-box .nav-list{
	float: right;
	width:602px;
	height: 100%;

}
.nav>.nav-list>li,a{
	position: block;
	height: 79px;
	width: 56px;
	text-align: center;
	color: #526069;
	font-size: 14px;
	padding:0 15px;
}
.nav-box>.nav-list>li>a:hover{
	color: #16b0dc
}
.nav-box>.nav-list>li{
	float:left;
}
.nav-list>.impo>a{
    color: #16b0dc;
}
.body{
	width: 100%;
	height: 2887px;
	padding: 30px 0;
	background-color:#f1f1f1
}
.body-news-list{
	height: 2795px;
	width: 817px;
	background-color: #ffffff;
	float: left;
	margin-left: 90px;
	padding: 30px 30px
}
.body-news-list>.list-top{
	height: 118px;
	width: 817px;
}
.body-news-list>.list-top>h1{
	font-size: 32px;
	margin-bottom: 5px;
	font-weight: 400;
    line-height: 1.2;
    color: #37474f;
}
.body-news-list>.list-top>div>span{
	padding-right: 10px;
	color: #a3afb7;
    font-size: 16px;
    font-weight: 300;
}
.body-news-list>.list-buttom{
	height: 2584px;
	width: 817px;
	padding-top: 30px
}
.list-buttom>p{
	margin-bottom: 16px;
	line-height: 1.8;
    font-size: 18px;
    font-weight: 300;
    color: #222;
}
.list-buttom>img{
	height: 460px;
	width: 817px;
	margin-bottom: 16px
}
.body-news-list>.list-footer{
	height: 43px;
	width: 817px;
	padding-top: 20px
}
.list-footer>ul>li{
	height: 21px;
	width: 115px;
    padding: 10px 20px 10px 20px;
    border:1px solid #e4eaec;
    border-radius: 1000px
} 
.list-footer>ul>li:hover{
	border-color: #62a8ea
}
.list-footer>ul>li>a{
	display: block;
	height: 21px;
	width: 115px;
    padding: 0 0;
    margin: 0 auto;
    font-size: 12px;
    color: #76838f
}
.list-footer>ul>li>a:hover{
	color: #62a8ea
}
.list-footer>ul>li:nth-child(1){
	float: left;
}
.list-footer>ul>li:nth-child(2){
	float: right;
}
.body-news-bar{
	height: 314px;
	width: 222px;
	background-color: #ffffff;
	float: right;
	margin-right: 90px;
	position: relative;
	padding: 20px
}
.body-news-bar>input{
    height: 22px;
    width: 155px;
    border-radius: 200px;
    border:1px solid #e4eaec;
    font-size:14px;
    color: #76838f;
    padding: 6px 50px 6px 15px;
    outline: none;
}
.body-news-bar>input:focus{
	border-color: #16b0dc
}
.body-news-bar>a{
	height: 36px;
	width: 20px;
	position: absolute;
	top:28px;
	right:23px;
}
.right-list{
	height: 161px;
	width: 222px;
	padding: 20px 0;
    margin: 20px 0;
}
.right-list>ul>li{
	padding: 10px 15px 10px 15px;
}
.right-list>ul>.rel{
	padding: 0;
}
.right-list>ul>.rel>p{
    font-size: 18px;
	font-weight: 300;
}
.right-list>ul>li>a{
	display: block;
	height: 20px;
	width: 120px;
	text-align: left;
	padding-left: 0;
	color: #2a333c;
    font-size: 15px;
}
.body-news-bar>p>a{
	font-size: 18px;
    font-weight: 300;
    padding-left: 0
}
}.main-footer{
	height: 161px;
	width: 100%;
	padding-bottom: 20px;
	background-color: #f5f5f5
}
.main-footer>.box2{
	width: 100%;
	height:0;
	padding:10px 0;
	border-top: 1px solid #f5f5f5;
	background-color:#fff; 
}
.main-footer>.main-footer-a>i:nth-child(1){
	color: #83b944;
	font-size: 26px;
}
.main-footer>.main-footer-a>i{
	color: #62a8ea;
	font-size: 26px;
	margin: 0 8px;
}
.main-footer-a{
	height: 46px;
	width: 100%;
	padding: 5px 0;
	margin-top: 10px;
	line-height: 46px;
	text-align: center;
}
.main-footer-b{
	height: 75px;
	width: 100%;
}
.main-footer-b>p{
	text-align: center;
}
.main-footer-b>p>a{
	margin-left: 20px;
	color: #62a8ea
}
.main-footer-b>p{
	color: #aaaaaa;
	margin-bottom: 5px;
	font-size: 14px
}